*.csv
*.html
*.pyc
pharmacy_regulatory_gwnakgu.csv
__pycache__/map.cpython-310.pyc
__pycache__/pharmacy_data_pre.cpython-310.pyc
test.html
.ipynb_checkpoints/Untitled-checkpoint.ipynb
location.json
location_of_pharmacy.html
population_of_gwanakgu_by_dong_20220930.csv
